.header {
  &__item {
    justify-content: center;
    align-items: center;
    width: min(212px, 20%);
    &-big {
      width: 365px;
    }
    &--hover {
      transition: background .2s;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
  &__items {
    display: flex;
    justify-content: flex-end;
  }
}