.header {
  transition: background 0.3s ease;
  background: rgba(255, 255, 255, 0);
  .title-logo {
    transition: color 0.2s ease;
  }
  &__item {
    justify-content: center;
    align-items: center;
    width: min(212px, 20%);
    transition: color 0.2s ease, opacity 0.2s ease;
    opacity: 1;
    &--hover {
      transition: background 0.2s;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }
    &--burger {
      width: 120px;
      @include md(dsk) {
        width: min(212px, 20%);
      }
    }
  }
  &__items {
    display: flex;
    justify-content: flex-end;
  }
  &--menu-open {
    .title-logo {
      color: #10100e;
    }
    .header__item--hover {
      opacity: 0;
    }
  }
  &--have-bg {
    background: rgba(255, 255, 255, 1);
    .title-logo,
    span {
      color: #10100e;
    }
    .header__item--hover {
      &:hover {
        background: var(--color-hover-blue);
        color: #FFFFFF;
        span {
          color: #FFFFFF;
        }
      }
    }
  }
}
