.header {
  span {
    transition: color .2s ease;
  }
  &__item {
    justify-content: center;
    align-items: center;
    width: min(212px, 20%);
    transition: color .2s ease, opacity .2s ease;
    opacity: 1;
    &-big {
      width: 365px;
    }
    &--hover {
      transition: background .2s;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }
    &--burger {
      width: 120px;
      @include md(dsk) {
        width: min(212px, 20%);
      }
    }
  }
  &__items {
    display: flex;
    justify-content: flex-end;
  }
  &--menu-open {
    span {
      color: #10100E;
    }
    .header__item--hover {
      opacity: 0;
    }
  }
}