# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
node_modules
.next
out
.env
/public/robots.txt
/public/sitemap-0.xml
/public/sitemap.xml
.firebase
next-env.d.ts
tsconfig.tsbuildinfo