.flex-cols {
  &-2 {
    display: flex;
    flex-wrap: wrap;
    @include md(dsk) {
      flex-wrap: nowrap;
      gap: 108px;
    }
  }
  &-4 {
    display: flex;
    flex-wrap: wrap;
    @include md(dsk) {
      flex-wrap: nowrap;
      gap: 20px;
    }
  }
}
